head,body,h1,h2,h3,h4,p,ul,li,a,nav,textarea
{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	
}
body{
	background-color: #f8f8f8;
	background-image: url("p1.paint");	
}
.navbar-inverse{
	background-color: #3ea99f;
	box-shadow: 4px 4px 5px #ccc;
}
.navbar-inverse .navbar-brand{
	color: black;
	font-size: 30px;
	text-shadow: 2px 2px 2px #ccc ;
	font-family: 'Lora', serif;
	line-height: 33px;
}
.navbar-inverse .navbar-nav li a{
	color: black;
	font-size: 15px;
	font-family: 'Lora', serif;
}
#outer-box{
	border: 1px inset #bdbdbd;
	height: 1000px;
	box-shadow: 4px 4px 5px #ccc;
}
.inner-box{
	border: 1px solid #bdbdbd;
	font-family: 'Lora', serif;
	text-align: center;
	margin: 2em auto 0;
	max-width: 40em;
	padding: 20px;
	max-height: 60em;
}
#bio{
	margin-top: 60px;
	margin-bottom: 40px;
}
#bio h2{
	font-size: 28px;
	text-shadow: 2px 2px 2px #ccc ;
	margin-bottom: 15px;
	border-bottom: 1px solid #bdbdbd;
}
#bio p{
	font-size: 16px;
}
#skills, #education{
	margin-top: 60px auto 0 auto;

} 
#skills h2, #education h2{
	font-size: 28px;
	text-shadow: 2px 2px 2px #ccc ;
	margin-bottom: 15px;
	padding-top: 20px;
	border-bottom: 1px solid #bdbdbd;
}
#skills ul, #education ul{
	padding: 15px;
	list-style-type: none;
}
#skills ul li, #education ul li{
	font-size: 15px;
	padding: 3px;
}
#sub-skill1 h3, #sub-skill2 h3, #editor h3{
	font-size: 19px;
	padding-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #bdbdbd;
}

@media screen and (max-width: 360px){
	.navbar-inverse .navbar-brand{
		font-size: 26px;
		text-align: center;
		line-height: 36px;
		}	
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  		color: black;
		}
	#outer-box{
		height: 1300px;
	}	
	#bio{
			font-size: 25px;
			margin-bottom: 15px;
			border: none;
		}
	#bio p{
			padding: 33px;
			font-size: 18px;
		}	
	#skills{
			width: auto;
			margin: auto;
			border : none;
		}	
	#education{
		margin: auto;
		border: none;
		}
	#skills ul li, #education ul li{
	font-size: 18px;
	padding: 3px;
}	
}











