head,body,h2,h3,p,ul,li,a,textarea,i,
{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
body{
	background-color: #f3ffff;
	font-family: 'Roboto', sans-serif;
}
.navbar-inverse{
	background-color: #404c4c;
	box-shadow: 4px 4px 5px #ccc;
}
.navbar-inverse .navbar-brand{
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px 2px black ;
	/*font-family: 'Lora', serif;*/
}
.navbar-inverse .navbar-nav li a{
	color: white;
	font-size: 15px;
	/*font-family: 'Lora', serif;*/
}
.navbar-inverse .navbar-nav li a:hover{
	color: #f3ffff;
}
.location{
	display: none;
	color: #f3ffff;
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;
	/*font-family: 'Lora', serif;*/
}
h1, h2, h3, p{
	font-family: 'Lora', serif;
	font-weight: normal;
	color: black;
}
h1{
	font-size: 35px;
	margin: 50px 0 0 35px;
	text-shadow: 2px 2px 2px #ccc;
	text-align: center;
}
h2{
	font-size: 27px;
	text-shadow: 3px 3px 3px #ccc;
	margin-top: 45px;
	padding: 19px;
	padding-left: 0;
	text-align: center;
	width: 100%;
	border-bottom: 2px solid #616666;
}
p{
	font-size: 18px;
	margin-top: 55px;
}
.lists{
	margin: 55px 0 50px 75px;
	position: relative;
}
.lists li{
	list-style-type: none;
	font-size: 16px;
	text-decoration: none;
	display: none;
	
	vertical-align: middle;

}
.lists span{
	display: none;
	color: #616666;
	padding: 20px;
	font-family: 'Lora', serif;
	font-size: 15px;
}
#ri{
	padding-top: 10px;
	width: 100%;
	margin-top: 70px;
	vertical-align: middle;
}
ul li{
	list-style-type: none;
	text-align: center;
	
}
ul li button{
    /*font-family: 'Lora', serif;*/
	font-size: 23px;
	text-shadow: 2px 2px 2px #ccc;
	font-weight: normal;
	display: block;
	width: 54%;
	border: none;
	text-align: center;
	color: black;
	margin:0 auto;
	padding-right: 46px;
	height: 43px;
	background-color: white;
}
h4{
	/*font-family: 'Lora', serif;*/
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: black;
	padding-bottom: 20px;
}
h5{
	/*font-family: 'Lora', serif;*/
	color: black;
}
textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #6f6666;
	padding: 5px;
	/*font-family: 'Lora', serif;*/
	background-position: bottom right;
	background-repeat: no-repeat;
}
.foot #sub{
	margin: 20px;
	width: 100px;
	height: 25px;
	color: #f3ffff;
	background-color: #6f6666;
	border: none;
	/*font-family: 'Lora', serif;*/
}
.foot #sub:hover{
	color:white;
	background-color: black;
}

@media only screen and (min-width: 320px) and (max-width: 620px){
	
	.navbar-inverse .navbar-brand{
		font-size: 26px;

	}
	.location{
		display: none;
		list-style-type: none;
		text-decoration: none;
		font-size: 10px;
		font-family: 'Lora', serif;
	}
	h1{
		font-size: 23px;
		margin-left: 5px;
		border-bottom: 2px solid #6f6666;
		padding-bottom: 7px;
		margin-bottom: 10px;
	}
	p{
		font-size: 16px;
		padding: 18px;
	}
	h2{
		font-size: 20px;
		padding: 5px;
		text-align: center;
	}
	h3{
		font-size: 18px;
	}
	ul li button{
		margin: 0 0 0 55px;
		display: block;
		width: 55%;
		vertical-align: middle;
		line-height: 30px;
		text-align: center;
		padding-left: 28px;
		font-size: 20px;
		background-color: #616666;
		color: #f3ffff;
		text-shadow: none;
	}
	.lists{
		margin-bottom: 30px;
	}

}



















