head,body,h2,h3,p,ul,li,a,textarea,
{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
body{
	background-color: white;
}
h1, h2, h3{
	font-family: 'Lora', serif;
	font-weight: normal;
	color: #151b54;
	text-decoration: underline;
	
}
h1{;
	font-size: 38px;
	margin: 10px;
	padding: 19px;
	width: auto;
	height: .3em;
	text-align: center;
}
h2{
	font-size: 35px;
	margin-top: 25px;
	padding: 19px;
	text-align: center;
}
h3{
	font-size: 24px;
	padding: 20px;
	margin: 40px 0 0 20px;
	text-decoration: underline;
	
}
ul li{
    font-family: 'Lucida Bright', Georgia, serif;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 7px;
}
ul li a{
	text-align: justify;
	color: #006b24;

}
.carousel-inner .item img,
  .carousel-inner .item a img {
      width:100%;
      margin: auto;
  }
h4{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: #000099;
}
textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Lucida Bright', Georgia, serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}
#submit_b{
	margin: 10px;
	width: 100px;
	height: 25px;
	border: none;
}
#submit_b:hover{
	color:#ebebeb;
	background-color: #000099;
}

@media screen and (max width:600px){
	#appetizers h3{
		text-align: center;
	}
}



















