head,body,h2,h3,p
{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
body{
	background-color: #ebebeb;
}
h1{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 38px;
	font-weight: bold;
	padding: 19px;
	margin: 10px;
	color: #663300;
	text-align: center;
	width: auto;
	height: .3em;
	text-decoration: underline;

}
h2{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	margin-top: 25px;
	color: #663d14;
	text-decoration: underline;
	text-align: center;
}
h3{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 24px;
	font-weight: normal;
	padding: 10px;
	margin-bottom: 10px;
	color: #663d14;
	text-decoration: underline;
	
}
ul li{
    font-family: 'Lucida Bright', Georgia, serif;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 7px;
}
ul li a{
	text-decoration: none; 
	color: #006b24;
}
h4{
	font-family: 'Lucida Bright', Georgia, serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: #000099;
}
textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Lucida Bright', Georgia, serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}
#submit_b{
	margin: 10px;
	width: 100px;
	height: 25px;
	border: none;
}
#submit_b:hover{
	color:#ebebeb;
	background-color: #000099;
}





















